* {
    font-family: Avenir, Helvetica, Arial, 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: var(--spacer-d);
}